---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About us.">
  <main>
    <div class="center">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/u52Ush2I4So?si=YNcPypl9wnx-79Qr"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
<div class="center"><a href="https://github.com/Kilonovaa/osscaar">Code is open source.</a></div>
    <h1>Development Team <b style="color:violet;">Kilonova</b></h1>
    <p>
      <b style="color:violet">Kilonova</b> is a team made up of 6 high school
      students passionate about <b style="color:yellow">technology</b>, <b
        style="color:yellow">science</b
      >, <b style="color:yellow">design</b> and <b style="color:yellow"
        >innovation</b
      >.
    </p>

    <p>
      Our first project together, <b style="color:violet">Selenotone</b>, is a
      statement of our devotion to making scientific advancements available to <i
        >everyone</i
      >, no matter how young or old, able or disabled, experienced or
      inexperienced they may be. We believe that knowledge should be accessible
      and approachable to all, and we’re proud of our efforts to bridge the gap
      between cutting-edge research and the wider community.
    </p>
    <h1>Our goal:</h1>
    <p>
      A website available to the public through which users have the ability to
      upload a video from space. This video is then processed by a program we've
      created (code name "<b style="color:violet">osscaar</b>"), which
      subsequently provides corresponding <i>audio</i> for the visual elements.
      Through this website we aim for broadening our perception of space data,
      but also including <i>accessibility</i> for visually impaired individuals.
      We believe that sonification has the potential to evolve into a
      fully-fledged field of study, as perceiving outer space through an
      alternative sense brings it closer to <i>human understanding</i>. The
      vastness of our universe can be daunting and difficult to comprehend, but
      by associating it with something familiar<b style="color:cyan"
        >—our senses—</b
      >we may develop a more comprehensive and profound understanding. And
      that’s how <b style="color:violet">Selenotone</b> was born!
    </p>
    <p>
      We chose to implement our ideas through a website because of the increased
      level of accessibility: it can be used by anyone, be it an elementary
      school student, visually impaired citizen or astrophysics enthusiast.
    </p>
    <div class="center"></div>
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
  }
  main {
    padding: 1rem 2rem;
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
iframe { 
  max-width: 85vw;
  aspect-ratio: 16 / 9;
}
</style>
