---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
const assets = [
  {
    title: "HCG40: A Flight Through Galaxies",
    publisher: "Hubble Space Telescope",
    description:
      "This visualization, which uses scientific data, begins by illustrating the location of the Hickson Compact Group 40 in the constellation Hydra. It then zooms into a lonely patch of sky inhabited by the close-knit group’s five galaxies. Finally, it shows a fly-through of this eclectic bunch — which includes three spiral-shaped galaxies, an elliptical galaxy and a lenticular (lens-like) galaxy — and how they are situated in relation to each other.",
    url: "https://nwhobhigrgxtpnwydpxj.supabase.co/storage/v1/object/public/data/example_audio/Hickson%20Compact%20Group%2040_%20A%20Flight%20Through%20Interacting%20Galaxies_ed.mp4",
  },
  {
    title: "Cosmic Wonders",
    publisher: "Hubble Space Telescope",
    description:
      "Cosmic Wonders presents a stunning series of 18 astronomy visualizations. Each sequence combines Hubble Space Telescope images or research computer simulations with scientific knowledge and insight to create three dimensional visions of awesome celestial sights. Created by astronomers and artists at the Space Telescope Science Institute, all of the individual visualizations are available for viewing on the Hubble Space Telescope channel on YouTube and for download at hubblesite.org.",
    url: "https://nwhobhigrgxtpnwydpxj.supabase.co/storage/v1/object/public/data/example_audio/Cosmic%20Wonders_ed.mp4?t=2023-10-08T17%3A20%3A52.932Z",
  },
  {
    title: "Flight to AG Carinae",
    publisher: "Hubble Space Telescope",
    description:
      "This visualization starts with the Hubble Space Telescope view of the massive star, AG Carinae. One of the brightest stars in our galaxy, AG Carinae undergoes eruptions that have ejected a small nebula of gas and dust. The sequence flies into a 3D model that shows the structure of the surrounding nebula. The 3D model is based upon Hubble images and spectroscopic data of the nebula's motion. The emission from ionized gas glows red, while the dust reflects the light of the star and appears bluish-white.",
    url: "https://nwhobhigrgxtpnwydpxj.supabase.co/storage/v1/object/public/data/example_audio/Flight%20to%20AG%20Carinae_ed.mp4",
  },
  {
    title: "Cosmic Reef: NGC 2014 & 2020",
    publisher: "Hubble Space Telescope",
    description:
      "his science visualization presents the dramatic landscape of two nebulas in the Large Magellanic Cloud. The video, based on images by NASA's Hubble Space Telescope, takes viewers on a close-up tour of the nebulas' three-dimensional structures, as envisioned by scientists and artists.",
    url: "https://nwhobhigrgxtpnwydpxj.supabase.co/storage/v1/object/public/data/example_audio/Cosmic%20Reef_%20NGC%202014%20&%20NGC%202020_ed.mp4",
  },
  {
    title: "Animation of Comet 2I/Borisov",
    publisher: "HubbleWebbESA",
    description:
      "On 12 October 2019, the NASA/ESA Hubble Space Telescope observed Comet 2I/Borisov at a distance of approximately 420 million kilometres from Earth. The comet is believed to have arrived here from another planetary system elsewhere in our galaxy.",
    url: "https://nwhobhigrgxtpnwydpxj.supabase.co/storage/v1/object/public/data/example_audio/Animation%20of%20Comet%202I_Borisov_ed.mp4",
  },
  // {
  //   title: "Video of Moons Circling Saturn",
  //   publisher: "Hubble Space Telescope",
  //   description:
  //     "This Hubble time-lapse movie shows the orbits of some of Saturn's icy moons as they circle the planet over an 18-hour period. The video is composed of 33 Hubble snapshots of the planet, taken June 19 to 20, 2019, by the Wide Field Camera 3. The closer the moon is to Saturn, the faster it orbits, according to the laws of gravity. ",
  //   url: "https://nwhobhigrgxtpnwydpxj.supabase.co/storage/v1/object/public/data/examples/Video%20of%20Moons%20Circling%20Saturn.mp4",
  // },
  // {
  //   title: "Hubble Video of Moons Circling Saturn",
  //   publisher: "NASA Video",
  //   description:
  //     "This Hubble time-lapse movie shows the orbits of some of Saturn's icy moons as they circle the planet over an 18-hour period. The video is composed of 33 Hubble snapshots of the planet, taken June 19 to 20, 2019, by the Wide Field Camera 3. The closer the moon is to Saturn, the faster it orbits, according to the laws of gravity.",
  //   url: "https://nwhobhigrgxtpnwydpxj.supabase.co/storage/v1/object/public/data/examples/Hubble%20Video%20of%20Moons%20Circling%20Saturn.mp4",
  // },
  {
    title: "Orion Nebula in Visible Light",
    publisher: "Hubble Space Telescope",
    description:
      "This visualization explores the Orion Nebula as seen in visible-light observations from the Hubble Space Telescope. This movie is designed to be compared and contrasted against the companion movie using infrared-light observations from the Spitzer Space Telescope. As the camera flies into the star-forming region, it reveals a glowing gaseous landscape that has been illuminated and carved by the high-energy radiation and strong stellar winds from the massive hot stars in the central cluster. The high-resolution visible observations show fine details including the wispy bow shocks and tadpole-shaped proplyds.",
    url: "https://nwhobhigrgxtpnwydpxj.supabase.co/storage/v1/object/public/data/example_audio/Flight%20Through%20the%20Orion%20Nebula%20in%20Visible%20Light_ed.mp4?t=2023-10-08T17%3A24%3A51.116Z",
  },
  {
    title: "Orion Nebula in Infrared Light",
    publisher: "Hubble Space Telescope",
    description:
      "This visualization explores the Orion Nebula as seen in infrared-light observations from the Spitzer Space Telescope. This movie is designed to be compared and contrasted against the companion movie using visible-light observations from the Hubble Space Telescope. As the camera flies into the star-forming region, it reveals a glowing gaseous landscape that has been illuminated and carved by the high-energy radiation and strong stellar winds from the massive hot stars in the central cluster. The infrared observations generally show cool temperature gas at a deep layer that shows the full bowl shape of the nebula. In addition, the infrared showcases many faint stars that shine primarily at longer wavelengths.",
    url: "https://nwhobhigrgxtpnwydpxj.supabase.co/storage/v1/object/public/data/example_audio/Flight%20Through%20the%20Orion%20Nebula%20in%20Infrared%20Light_ed.mp4",
  },
]
---

<Layout title="Examples.">
  <main>
    <h1>Example video clips</h1>
    <div class="videos">
      {
        assets.map(async (card) => {
          return (
            <Card
              title={card.title}
              publisher={card.publisher}
              description={card.description}
              url={card.url}
            />
          )
        })
      }
    </div>
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
  }
  main {
    padding: 1rem;
  }
  .videos {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
