---
import Layout from "../layouts/Layout.astro"
import Upload from "../components/Upload.svelte"
import Nav from "../components/Nav.astro"
const assets = [
  {
    title: "",
    publisher: "",
    url: "",
  },
]
---

<Layout title="Examples.">
  <main>
    <h1>Example video clips</h1>
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
  }
  main {
  }
</style>
