---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
const assets = [
  {
    title: "",
    publisher: "",
    url: "",
  },
]
---

<Layout title="Examples.">
  <main>
    <h1>Example video clips</h1>
    <div class="videos">
      <Card
        title="lazar"
        publisher="lazar"
        description="otelu galati"
        url="https://www.youtube.com/watch?v=Q8TXgCzxEnw"
      />
      <Card
        title="lazar"
        publisher="lazar"
        description="otelu galati"
        url="https://www.youtube.com/watch?v=Q8TXgCzxEnw"
      />
      <Card
        title="lazar"
        publisher="lazar"
        description="otelu galati"
        url="https://nwhobhigrgxtpnwydpxj.supabase.co/storage/v1/object/public/data/public/-2PBwU3o_MHz19U5AAA5uzk3besqpu.mp4"
      />
    </div>
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
  }
  main {
    padding: 1rem;
  }
  .videos {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
