---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import Upload from "../components/Upload.svelte"
import ShowAuth from "../components/ShowAuth.svelte"
import Auth from "../components/Auth.svelte"
import { get } from "svelte/store"
import { user } from "../lib/supabase"
---

<Layout title="Welcome to Kilonova.">
  <main>
    <!-- <ShowAuth client:load /> -->
    <h1>Kilonova</h1>
    <Upload client:load />
    <Auth client:load />
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
  }
  main {
  }
</style>
