---
import Layout from "../layouts/Layout.astro"
import Upload from "../components/Upload.svelte"
import Nav from "../components/Nav.astro"
---

<Layout title="Welcome to Selenotone.">
  <main>
    <Upload client:load />
  </main>
</Layout>

<style>
  h1 {
    text-align: center;
  }
  main {
  }
</style>
