---
interface Props {
  title: string
  publisher: string
  description: string
  url: string
}

const { title, publisher, description, url } = Astro.props
---

<div class="card">
  <div class="flex">
    <h2>{title}</h2>
    <p>by {publisher}</p>
  </div>
  <video src={url} controls muted></video>
  <div class="flex">
    <p>{description.substring(0, 100)}...</p>
    <a href={url} download>Download</a>
  </div>
</div>

<style>
  .card {
    width: clamp(300px, 100%, 600px);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid white;
  }
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  a {
    color: #fff;
    background-color: var(--accent);
    padding: 0.5rem 1rem;
    border-radius: 0.56rem;
    text-decoration: none;
    transition: background-color 200ms ease-in;
  }
  a:hover {
    background-color: var(--accent-hover);
  }
  video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 1.5rem;
  }
</style>
