<!-- <div class="container"> -->
<div class="star"></div>
<!-- <div class="meteor-1"></div> -->
<!-- <div class="meteor-2"></div>
  <div class="meteor-3"></div>
  <div class="meteor-4"></div>
  <div class="meteor-5"></div>
  <div class="meteor-6"></div>
  <div class="meteor-7"></div>
  <div class="meteor-8"></div>
  <div class="meteor-9"></div>
  <div class="meteor-10"></div>
  <div class="meteor-11"></div>
  <div class="meteor-12"></div>
  <div class="meteor-13"></div>
  <div class="meteor-14"></div>
  <div class="meteor-15"></div> -->
<!-- </div> -->
<style>
  .container {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    /* background-image: radial-gradient(ellipse at top, #080e21 0%, #1b2735 95%); */
  }

  .star {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow:
      972px 575px #fff,
      642px 132px #fff,
      1648px 244px #fff,
      1678px 228px #fff,
      52px 21px #fff,
      858px 224px #fff,
      1458px 106px #fff,
      1167px 779px #fff,
      1871px 679px #fff,
      1482px 61px #fff,
      1718px 356px #fff,
      1655px 778px #fff,
      645px 370px #fff,
      1441px 353px #fff,
      1095px 822px #fff,
      355px 196px #fff,
      969px 375px #fff,
      553px 993px #fff,
      434px 224px #fff,
      635px 490px #fff,
      1215px 458px #fff,
      164px 737px #fff,
      36px 811px #fff,
      896px 609px #fff,
      138px 482px #fff,
      1401px 984px #fff,
      66px 113px #fff,
      542px 277px #fff,
      119px 416px #fff,
      1524px 325px #fff,
      966px 647px #fff,
      918px 700px #fff,
      1703px 788px #fff,
      300px 495px #fff,
      569px 648px #fff,
      1724px 247px #fff,
      111px 817px #fff,
      780px 837px #fff,
      1604px 572px #fff,
      1476px 145px #fff,
      237px 766px #fff,
      37px 610px #fff,
      1577px 228px #fff,
      1397px 500px #fff,
      1052px 433px #fff,
      576px 954px #fff,
      1468px 247px #fff,
      46px 557px #fff,
      949px 494px #fff,
      261px 624px #fff,
      1703px 929px #fff,
      417px 845px #fff,
      1853px 471px #fff,
      794px 880px #fff,
      133px 924px #fff,
      687px 383px #fff,
      362px 165px #fff,
      1120px 179px #fff,
      1603px 651px #fff,
      1276px 667px #fff,
      876px 652px #fff,
      1227px 493px #fff,
      1772px 682px #fff,
      1133px 82px #fff,
      1329px 659px #fff,
      245px 290px #fff,
      501px 640px #fff,
      1669px 589px #fff,
      1696px 732px #fff,
      1244px 607px #fff,
      1362px 853px #fff,
      232px 802px #fff,
      649px 959px #fff,
      1788px 797px #fff,
      64px 610px #fff,
      277px 985px #fff,
      1062px 456px #fff,
      198px 280px #fff,
      1673px 895px #fff,
      1092px 64px #fff,
      1163px 743px #fff,
      169px 88px #fff,
      450px 111px #fff,
      1656px 903px #fff,
      792px 283px #fff,
      215px 49px #fff,
      627px 221px #fff,
      464px 956px #fff,
      561px 172px #fff,
      1118px 719px #fff,
      1309px 110px #fff,
      1056px 440px #fff,
      937px 475px #fff,
      202px 225px #fff,
      192px 66px #fff,
      1282px 46px #fff,
      1201px 888px #fff,
      738px 741px #fff,
      688px 386px #fff,
      1564px 305px #fff,
      1118px 249px #fff,
      820px 558px #fff,
      937px 474px #fff,
      1902px 235px #fff,
      1855px 549px #fff,
      1815px 665px #fff,
      681px 641px #fff,
      1386px 839px #fff,
      52px 420px #fff,
      638px 991px #fff,
      1418px 951px #fff,
      1398px 726px #fff,
      698px 431px #fff,
      806px 972px #fff,
      184px 705px #fff,
      773px 911px #fff,
      86px 731px #fff,
      912px 434px #fff,
      1512px 760px #fff,
      1377px 279px #fff,
      35px 149px #fff,
      1417px 716px #fff,
      639px 701px #fff,
      203px 160px #fff,
      168px 465px #fff,
      1339px 727px #fff,
      1859px 542px #fff,
      1909px 231px #fff,
      798px 96px #fff,
      236px 897px #fff,
      1706px 257px #fff,
      522px 54px #fff,
      153px 174px #fff,
      527px 970px #fff,
      1126px 437px #fff,
      825px 407px #fff,
      303px 544px #fff,
      273px 862px #fff,
      1572px 380px #fff,
      841px 499px #fff,
      1368px 207px #fff,
      415px 43px #fff,
      137px 196px #fff,
      1613px 204px #fff,
      1779px 525px #fff,
      1800px 60px #fff,
      1337px 411px #fff,
      1794px 896px #fff,
      948px 201px #fff,
      387px 415px #fff,
      1580px 905px #fff,
      1607px 123px #fff,
      938px 861px #fff,
      1678px 65px #fff,
      1721px 612px #fff,
      1461px 492px #fff,
      876px 786px #fff,
      280px 500px #fff,
      183px 491px #fff,
      598px 616px #fff,
      1118px 749px #fff,
      76px 758px #fff,
      1726px 956px #fff,
      43px 788px #fff,
      177px 284px #fff,
      297px 39px #fff,
      439px 894px #fff,
      1491px 430px #fff,
      83px 518px #fff,
      1040px 432px #fff,
      1402px 333px #fff,
      78px 56px #fff,
      1550px 505px #fff,
      1913px 233px #fff,
      817px 496px #fff,
      1700px 356px #fff,
      1514px 947px #fff,
      1820px 811px #fff,
      1086px 438px #fff,
      1356px 65px #fff,
      1305px 362px #fff,
      1136px 435px #fff,
      1899px 397px #fff,
      272px 319px #fff,
      1787px 769px #fff,
      283px 176px #fff,
      1548px 843px #fff,
      105px 202px #fff,
      948px 431px #fff,
      1139px 137px #fff,
      680px 692px #fff,
      1619px 664px #fff,
      280px 968px #fff,
      1788px 838px #fff,
      699px 612px #fff,
      1373px 797px #fff,
      874px 988px #fff,
      1425px 521px #fff,
      1634px 543px #fff,
      702px 859px #fff,
      686px 700px #fff,
      272px 309px #fff,
      285px 526px #fff,
      1211px 326px #fff,
      67px 428px #fff,
      1784px 963px #fff,
      336px 753px #fff,
      1320px 40px #fff,
      609px 317px #fff,
      1232px 277px #fff,
      1018px 924px #fff,
      1418px 978px #fff,
      1684px 420px #fff,
      197px 843px #fff,
      664px 80px #fff,
      1798px 169px #fff,
      1222px 294px #fff,
      1139px 323px #fff,
      533px 261px #fff,
      1883px 125px #fff,
      1234px 687px #fff,
      642px 456px #fff,
      403px 567px #fff,
      508px 10px #fff,
      1068px 264px #fff,
      842px 637px #fff,
      1391px 717px #fff,
      543px 813px #fff,
      1076px 496px #fff,
      43px 326px #fff,
      1088px 345px #fff,
      1752px 469px #fff,
      892px 308px #fff,
      839px 490px #fff,
      800px 81px #fff,
      839px 838px #fff,
      250px 172px #fff,
      820px 918px #fff,
      90px 67px #fff,
      377px 502px #fff,
      486px 232px #fff,
      852px 404px #fff,
      593px 533px #fff,
      449px 433px #fff,
      1793px 135px #fff,
      696px 192px #fff,
      107px 347px #fff,
      1372px 472px #fff,
      307px 970px #fff,
      1019px 974px #fff,
      1882px 59px #fff,
      501px 479px #fff,
      1082px 863px #fff,
      519px 559px #fff,
      1149px 510px #fff,
      362px 42px #fff,
      1434px 118px #fff,
      1105px 26px #fff,
      1870px 272px #fff,
      938px 90px #fff,
      129px 763px #fff,
      280px 341px #fff,
      955px 727px #fff,
      1691px 771px #fff,
      342px 5px #fff,
      1793px 583px #fff,
      1049px 929px #fff,
      683px 53px #fff,
      1601px 806px #fff,
      796px 858px #fff,
      1680px 910px #fff,
      645px 814px #fff,
      1136px 248px #fff,
      1912px 534px #fff,
      1618px 245px #fff,
      843px 168px #fff,
      19px 858px #fff,
      1336px 239px #fff,
      1577px 983px #fff,
      50px 808px #fff,
      424px 423px #fff,
      28px 720px #fff,
      86px 171px #fff,
      610px 413px #fff,
      620px 670px #fff,
      627px 478px #fff,
      1580px 987px #fff,
      1671px 549px #fff,
      250px 347px #fff,
      880px 932px #fff,
      1916px 552px #fff,
      314px 645px #fff,
      268px 585px #fff,
      581px 51px #fff,
      226px 291px #fff,
      775px 294px #fff,
      550px 47px #fff,
      1598px 81px #fff,
      1869px 130px #fff,
      158px 398px #fff;
  }

  .meteor-1 {
    position: absolute;
    top: 276px;
    left: 90%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.5s linear infinite;
  }
  .meteor-1:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-2 {
    position: absolute;
    top: 209px;
    left: 75%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5s linear infinite;
  }
  .meteor-2:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-3 {
    position: absolute;
    top: 127px;
    left: 65%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.5s linear infinite;
  }
  .meteor-3:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-4 {
    position: absolute;
    top: 277px;
    left: 19%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 9.9s linear infinite;
  }
  .meteor-4:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-5 {
    position: absolute;
    top: 137px;
    left: 95%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4.2s linear infinite;
  }
  .meteor-5:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-6 {
    position: absolute;
    top: 166px;
    left: 22%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.2s linear infinite;
  }
  .meteor-6:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-7 {
    position: absolute;
    top: 140px;
    left: 78%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 4.6s linear infinite;
  }
  .meteor-7:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-8 {
    position: absolute;
    top: 122px;
    left: 37%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 9.8s linear infinite;
  }
  .meteor-8:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-9 {
    position: absolute;
    top: 148px;
    left: 40%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 6.1s linear infinite;
  }
  .meteor-9:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-10 {
    position: absolute;
    top: 274px;
    left: 21%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.3s linear infinite;
  }
  .meteor-10:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-11 {
    position: absolute;
    top: 167px;
    left: 82%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.3s linear infinite;
  }
  .meteor-11:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-12 {
    position: absolute;
    top: 157px;
    left: 60%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 5.4s linear infinite;
  }
  .meteor-12:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-13 {
    position: absolute;
    top: 253px;
    left: 99%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 6.4s linear infinite;
  }
  .meteor-13:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-14 {
    position: absolute;
    top: 113px;
    left: 42%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 8.4s linear infinite;
  }
  .meteor-14:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  .meteor-15 {
    position: absolute;
    top: 57px;
    left: 85%;
    width: 300px;
    height: 1px;
    transform: rotate(-45deg);
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    animation: meteor 7.8s linear infinite;
  }
  .meteor-15:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 15px 3px #fff;
  }

  @keyframes meteor {
    0% {
      opacity: 1;
      margin-top: -300px;
      margin-right: -300px;
    }
    12% {
      opacity: 0;
    }
    15% {
      margin-top: 300px;
      margin-left: -600px;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
</style>
